::-webkit-scrollbar {
  background: #eeeeee62;
  height: 3px;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.89);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background: #22222233;
}
.ellipsis_2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 2; /** 显示的行数 **/
  overflow: hidden; /** 隐藏超出的内容 **/
}
.flex {
  display: flex;
}
.flex-1 {
  flex-grow: 1;
}
.flex-0 {
  flex-shrink: 0;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}

body {
  .bg_linear_to {
    background-color: #366efc;
  }
  .active {
    box-shadow: 0 0 10px #16bdf9;
    background-color: #1c7293 !important;
    border-color: #16bdf9 !important;
    border: 1px solid;
    color: #fff;
  }
  .pos-r {
    position: relative;
  }
  .pos-a {
    position: absolute;
  }
  .pos-f {
    position: fixed;
  }
  .sticky {
    position: sticky;
  }
  .text-align-center {
    text-align: center;
  }
}
.default_color {
  color: #6c829d;
}
.title_color {
  color: #becde3;
}
.hover_active {
  &:hover {
    color: #16bdf9 !important;;
  }
}
.bg-item {
  background-color: #1b222c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"]{
  -moz-appearance: textfield;
}
.cursor-pointer {
  cursor: pointer;
}
.justify-center {
  justify-content: center;
}
.mt-8 {
  margin-top: 8px;
}